body {
    background: url("../img/backgrounds/1.jpg") no-repeat;
    background-size: cover;
}

ul li {
    padding: .2em;
}

.g-title {
    padding: .4em;
    background: #990099;
    color: #fdfdfd;
    margin: .1em auto;
}

.g-content {
    clear: both;
    padding: .4em;
}

#imgGenesis {
    vertical-align: top;
    width: 300px;
    display: inline-block;
}
.genesis-intro {
    font-size: 20px;
    display: inline-block;
    width: 420px;
    cursor: pointer;
}

.g-reference {
    border-left: .2em #990099 solid;
    padding: .4em;
    margin: .4em;
    float: right;
    font-style: italic;
    color: #cccccc;
}

.g-primary {
    padding: .2em;
    font-weight: bold;
    background: #6666CC;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    color: #fdfdfd;
    clear: both;
}

.g-warning {
    padding: .2em;
    font-weight: bold;
    background: #FFCC33;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    color: #fdfdfd;
    clear: both;
}

.g-fix-50 {
    height: 50px;
}

.g-fix-200 {
    height: 200px;
}

.circle-number {
    width: 50px;
    height: 50px;
    background: #660099;
    border-radius: 50%;
    line-height: 220%;
    text-align: center;
    vertical-align: middle;
    color: #fdfdfd;
    border: 2px rgba(166, 166, 166, 0.3) solid;
    font-size: 24px;
}

.bg-white {
    background: #ffffff;
    text-align: center;
    padding: .8em;
}

.hover-response, .hover-response:link, .hover-response:visited{
    padding: 8px 24px;
    background: #660099;
    border-radius: 12px;
    text-decoration: none;
    color: #fdfdfd;
    font-size: 20px;
    border: 2px solid transparent;
}

.hover-response:hover, .hover-response:active{
    background: rgba(253, 253, 253, 0.49);
    color: #660066;
    border: 2px rgba(102, 0, 153, 0.45) solid;
}

.css-menu {
    list-style-type: none;
    background: #fdfdfd;
    padding: 50px 50px 100px 150px;
    text-align: center;
}

.css-menu li{
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    float: left;
    background: #660099;
    color: #fdfdfd;
    font-size: 24px;
    padding: 8px 16px;
    border: none;
}

.css-menu li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.css-menu li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.css-menu li:hover {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(2deg) scale3d(1.2, 1.4, 1.2);
    transition-duration: 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.css-menu-list {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.css-menu-list:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #3399FF;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.css-menu-list:hover:before, .css-menu-list:focus:before, .css-menu-list:active:before {
    left: 0;
    right: 0;
}